/* ---Navbar--- */
.navbar-color {
    background: #00cdac !important;
}

.navbar-brand {
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
}

.active {
    color: #007b67 !important;
}


/* ---Slider--- */
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background-repeat: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background: #000;
    opacity: 0.3;
}

.carousel-caption {
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5 {
    font-size: 100px;
    font-weight: 700;
}

.carousel-caption p {
    font-size: 18px;
    top: 2rem;
}

.slider-btn {
    margin-top: 30px;
}

.slider-btn .btn {
    background-color: #00cdac;
    color: white;
    border-radius: 10%;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    margin-right: 15px;
}

.btn:hover {
    background-color: #4ca193;
}

a {
    text-decoration: none;
    color: white;
}

.slider-btn .btn-2 {
    color: #00cdac;
    background-color: white;
}